.date_picker_wrapper {
  width: 320px;
  height: 240px;
  background-color: red;

  position: absolute;
}

.date_picker_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month_and_year {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 3px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.current_month {
  color: yellow;
}

.other_month {
  color: blue;
}
