.ticket_search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;

  margin-top: 20px;

  padding: 0.5em 1em;
}

.header {
  color: white;
  font-weight: bold;
}

.ticket_information {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1.5em 1em;

  border-radius: 0.5em;

  background-color: #ffd700;
}

.date_input_wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.date_input,
.date_input_danger {
  padding: 0.5em 1em;

  border: 1px solid white;
  border-radius: 0.3em;
}

.date_input_danger {
  border: 1px solid red;
}

.calendar_icon {
  position: absolute;
  right: 5%;

  color: rgb(106, 101, 101);
}

.tickets_wrapper {
  padding: 0.5em 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.information {
  display: flex;
  flex-direction: column;
}

.information_header {
  color: white;

  margin-bottom: 10px;
}

.no_valid_tickets {
  font-size: 1.2em;
  font-weight: bold;
}

.errors {
  color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
